html, body{
	max-height: 100%;
}

li{
	list-style-type: none;
	float: left;
	width: 80px; 
    height: 80px;
    color: white;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    line-height: 100px;
    background: -webkit-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(0,0,0,1) 100%); 
}

#values{
	height: 380px;
	width: 380px;
}

.radom_select {
	height: 400px;
	width: 400px;
}