html, body{
	max-height: 100%;
}

li{
	list-style-type: none;
	float: left;
	width: 60px; 
    height: 60px;
    color: white;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    line-height: 67px;
    background: -webkit-linear-gradient(-45deg,  rgba(34,34,34,1) 0%,rgba(0,0,0,1) 100%); 
}

#values{
	height: 300px;
	width: 300px;
}

.radom_select {
	height: 350px;
	width: 350px;
}

.show_board {
	height: 350px;
	width: 350px;
}